[project]
name = "deep-learning-classes"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pylint>=4.0.5",
    "ruff>=0.15.2",
]
